body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13738 {
  position:absolute;
  left:595px;
  top:874px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#666666;
}
#u13739 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u13740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13740 {
  position:absolute;
  left:573px;
  top:100px;
  width:73px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13741 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13742 {
  position:absolute;
  left:681px;
  top:190px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#666666;
}
#u13743 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u13744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13744 {
  position:absolute;
  left:727px;
  top:320px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13745 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13746 {
  position:absolute;
  left:595px;
  top:260px;
  width:50px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u13747 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u13748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#108EE9;
}
#u13748 {
  position:absolute;
  left:595px;
  top:516px;
  width:29px;
  height:20px;
  color:#108EE9;
}
#u13749 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13750 {
  position:absolute;
  left:595px;
  top:619px;
  width:50px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u13751 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u13752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13752 {
  position:absolute;
  left:760px;
  top:516px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13753 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13754 {
  position:absolute;
  left:760px;
  top:619px;
  width:50px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u13755 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u13756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u13756 {
  position:absolute;
  left:788px;
  top:642px;
  width:14px;
  height:22px;
}
#u13757 {
  position:absolute;
  left:2px;
  top:3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:171px;
}
#u13759 {
  position:absolute;
  left:837px;
  top:559px;
  width:247px;
  height:170px;
}
#u13760 {
  position:absolute;
  left:2px;
  top:77px;
  width:243px;
  word-wrap:break-word;
}
#u13761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13761 {
  position:absolute;
  left:832px;
  top:638px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u13762 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13763 {
  position:absolute;
  left:1190px;
  top:516px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13764 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u13765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13765 {
  position:absolute;
  left:1190px;
  top:619px;
  width:50px;
  height:50px;
  font-size:12px;
  color:#666666;
}
#u13766 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u13767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u13767 {
  position:absolute;
  left:1218px;
  top:642px;
  width:14px;
  height:22px;
}
#u13768 {
  position:absolute;
  left:2px;
  top:3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13769 {
  position:absolute;
  left:1395px;
  top:516px;
  width:151px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13770 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u13771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u13771 {
  position:absolute;
  left:1395px;
  top:584px;
  width:120px;
  height:120px;
  font-size:28px;
  color:#CCCCCC;
}
#u13772 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u13773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#108EE9;
}
#u13773 {
  position:absolute;
  left:595px;
  top:822px;
  width:211px;
  height:20px;
  color:#108EE9;
}
#u13774 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u13775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13775 {
  position:absolute;
  left:693px;
  top:884px;
  width:12px;
  height:12px;
}
#u13776 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u13777 {
  position:absolute;
  left:885px;
  top:874px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#666666;
}
#u13778 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u13779 {
  position:absolute;
  left:895px;
  top:884px;
  width:100px;
  height:16px;
}
#u13780 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13779_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13781 {
  position:absolute;
  left:885px;
  top:822px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#108EE9;
}
#u13782 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u13783 {
  position:absolute;
  left:958px;
  top:884px;
  width:40px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u13784 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u13785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.188235294117647);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13785 {
  position:absolute;
  left:885px;
  top:964px;
  width:120px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u13786 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u13787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:234px;
}
#u13787 {
  position:absolute;
  left:100px;
  top:100px;
  width:367px;
  height:234px;
}
#u13788 {
  position:absolute;
  left:2px;
  top:109px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u13789 {
  position:absolute;
  left:100px;
  top:146px;
  width:367px;
  height:1px;
}
#u13790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13791 {
  position:absolute;
  left:120px;
  top:111px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13792 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u13793 {
  position:absolute;
  left:120px;
  top:157px;
  width:338px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u13794 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u13795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u13795 {
  position:absolute;
  left:120px;
  top:295px;
  width:100px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13796 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u13797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13797 {
  position:absolute;
  left:120px;
  top:231px;
  width:330px;
  height:18px;
  color:#999999;
}
#u13798 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u13799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13799 {
  position:absolute;
  left:120px;
  top:201px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13800 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8001px;
}
#u13801 {
  position:absolute;
  left:521px;
  top:0px;
  width:1px;
  height:8000px;
}
#u13802 {
  position:absolute;
  left:2px;
  top:3992px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13803 {
  position:absolute;
  left:573px;
  top:435px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13804 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
