body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:32px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1315 {
  position:absolute;
  left:29px;
  top:25px;
  width:30px;
  height:30px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1317 {
  position:absolute;
  left:69px;
  top:31px;
  width:92px;
  height:18px;
  font-size:16px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1319 {
  position:absolute;
  left:184px;
  top:25px;
  width:79px;
  height:30px;
  text-align:left;
}
#u1320 {
  position:absolute;
  left:16px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1322 {
  position:absolute;
  left:597px;
  top:25px;
  width:180px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u1323 {
  position:absolute;
  left:16px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1324 {
  position:absolute;
  left:750px;
  top:33px;
  width:14px;
  height:14px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1326 {
  position:absolute;
  left:829px;
  top:29px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1328 {
  position:absolute;
  left:1002px;
  top:29px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1330 {
  position:absolute;
  left:900px;
  top:29px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1332 {
  position:absolute;
  left:1073px;
  top:29px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1334 {
  position:absolute;
  left:1176px;
  top:29px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1336 {
  position:absolute;
  left:1278px;
  top:29px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1338 {
  position:absolute;
  left:1349px;
  top:29px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u1340 {
  position:absolute;
  left:240px;
  top:37px;
  width:12px;
  height:7px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  position:absolute;
  left:0px;
  top:2898px;
  width:1440px;
  height:148px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:66px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:236px;
  top:2962px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:307px;
  top:2962px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1349 {
  position:absolute;
  left:405px;
  top:2962px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:504px;
  top:2962px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1353 {
  position:absolute;
  left:58px;
  top:2962px;
  width:137px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1354 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1355 {
  position:absolute;
  left:1293px;
  top:2963px;
  width:92px;
  height:18px;
  font-size:16px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1357 {
  position:absolute;
  left:19px;
  top:156px;
  width:89px;
  height:125px;
}
#u1357_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1360 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1361 {
  position:absolute;
  left:0px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1362 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1362_img.selected {
}
#u1362.selected {
}
#u1363 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1364 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1365 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1361_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366 {
  position:absolute;
  left:20px;
  top:20px;
  width:56px;
  height:20px;
  font-size:14px;
  color:#108EE9;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u1368 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:20px;
  top:40px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u1371 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u1372 {
  position:absolute;
  left:0px;
  top:80px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1374 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1375 {
  position:absolute;
  left:0px;
  top:100px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u1377 {
  position:absolute;
  left:3px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1378 {
  position:absolute;
  left:19px;
  top:108px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:2534px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1380 {
  position:absolute;
  left:243px;
  top:364px;
  width:1197px;
  height:2534px;
  font-size:14px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:1259px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1382 {
  position:absolute;
  left:303px;
  top:424px;
  width:1066px;
  height:756px;
  font-size:14px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:370px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1384 {
  position:absolute;
  left:624px;
  top:504px;
  width:113px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1386 {
  position:absolute;
  left:624px;
  top:799px;
  width:661px;
  height:88px;
  font-size:14px;
  line-height:22px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1388 {
  position:absolute;
  left:624px;
  top:684px;
  width:320px;
  height:66px;
  line-height:22px;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u1390 {
  position:absolute;
  left:431px;
  top:519px;
  width:46px;
  height:50px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:711px;
}
#u1392 {
  position:absolute;
  left:327px;
  top:448px;
  width:255px;
  height:711px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:348px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1394 {
  position:absolute;
  left:1040px;
  top:684px;
  width:359px;
  height:44px;
  line-height:22px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1396 {
  position:absolute;
  left:622px;
  top:934px;
  width:517px;
  height:148px;
}
#u1397 {
  position:absolute;
  left:12px;
  top:12px;
  width:493px;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:629px;
  height:91px;
}
#u1398 {
  position:absolute;
  left:520px;
  top:560px;
  width:619px;
  height:81px;
  font-size:18px;
  text-align:left;
}
#u1399 {
  position:absolute;
  left:112px;
  top:18px;
  width:495px;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:284px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:243px;
  top:80px;
  width:1197px;
  height:284px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:2px;
  top:134px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:333px;
  top:192px;
  width:193px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1404 {
  position:absolute;
  left:303px;
  top:1250px;
  width:1066px;
  height:756px;
  font-size:14px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:370px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1406 {
  position:absolute;
  left:624px;
  top:1330px;
  width:113px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1408 {
  position:absolute;
  left:624px;
  top:1625px;
  width:661px;
  height:88px;
  font-size:14px;
  line-height:22px;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1410 {
  position:absolute;
  left:624px;
  top:1510px;
  width:320px;
  height:66px;
  line-height:22px;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1412 {
  position:absolute;
  left:1040px;
  top:1510px;
  width:359px;
  height:44px;
  line-height:22px;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1414 {
  position:absolute;
  left:622px;
  top:1760px;
  width:517px;
  height:126px;
}
#u1415 {
  position:absolute;
  left:12px;
  top:12px;
  width:493px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1416 {
  position:absolute;
  left:303px;
  top:2076px;
  width:1066px;
  height:756px;
  font-size:14px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:370px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1418 {
  position:absolute;
  left:624px;
  top:2156px;
  width:113px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1420 {
  position:absolute;
  left:624px;
  top:2451px;
  width:661px;
  height:88px;
  font-size:14px;
  line-height:22px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1422 {
  position:absolute;
  left:624px;
  top:2336px;
  width:320px;
  height:66px;
  line-height:22px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1424 {
  position:absolute;
  left:1040px;
  top:2336px;
  width:359px;
  height:44px;
  line-height:22px;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1426 {
  position:absolute;
  left:622px;
  top:2586px;
  width:517px;
  height:148px;
}
#u1427 {
  position:absolute;
  left:12px;
  top:12px;
  width:493px;
  word-wrap:break-word;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:698px;
}
#u1428 {
  position:absolute;
  left:327px;
  top:1284px;
  width:255px;
  height:698px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:341px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:629px;
  height:91px;
}
#u1430 {
  position:absolute;
  left:520px;
  top:1386px;
  width:619px;
  height:81px;
  font-size:18px;
  text-align:left;
}
#u1431 {
  position:absolute;
  left:112px;
  top:30px;
  width:495px;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:699px;
}
#u1432 {
  position:absolute;
  left:327px;
  top:2105px;
  width:255px;
  height:699px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:342px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:629px;
  height:91px;
}
#u1434 {
  position:absolute;
  left:520px;
  top:2212px;
  width:619px;
  height:81px;
  font-size:18px;
  text-align:left;
}
#u1435 {
  position:absolute;
  left:112px;
  top:18px;
  width:495px;
  word-wrap:break-word;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1436 {
  position:absolute;
  left:687px;
  top:948px;
  width:177px;
  height:29px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:-10px;
  width:173px;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1438 {
  position:absolute;
  left:624px;
  top:1092px;
  width:515px;
  height:68px;
  font-size:14px;
  line-height:22px;
}
#u1439 {
  position:absolute;
  left:12px;
  top:12px;
  width:491px;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1440 {
  position:absolute;
  left:622px;
  top:1896px;
  width:515px;
  height:68px;
  font-size:14px;
  line-height:22px;
}
#u1441 {
  position:absolute;
  left:12px;
  top:12px;
  width:491px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u1442 {
  position:absolute;
  left:624px;
  top:2744px;
  width:515px;
  height:68px;
  font-size:14px;
  line-height:22px;
}
#u1443 {
  position:absolute;
  left:12px;
  top:12px;
  width:491px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:681px;
  top:1776px;
  width:177px;
  height:29px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  position:absolute;
  left:681px;
  top:2601px;
  width:177px;
  height:29px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
