body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10692 {
  position:absolute;
  left:970px;
  top:390px;
  width:38px;
  height:20px;
}
#u10693 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10694 {
  position:absolute;
  left:970px;
  top:390px;
  width:20px;
  height:20px;
}
#u10695 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10696 {
  position:absolute;
  left:585px;
  top:110px;
  width:97px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10697 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10699 {
  position:absolute;
  left:602px;
  top:168px;
  width:38px;
  height:20px;
}
#u10700 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10701 {
  position:absolute;
  left:620px;
  top:168px;
  width:20px;
  height:20px;
}
#u10702 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u10703 {
  position:absolute;
  left:602px;
  top:344px;
  width:85px;
  height:20px;
  color:#169BD5;
}
#u10704 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u10705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u10705 {
  position:absolute;
  left:585px;
  top:271px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u10706 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10707 {
  position:absolute;
  left:602px;
  top:390px;
  width:38px;
  height:20px;
}
#u10708 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10709 {
  position:absolute;
  left:602px;
  top:390px;
  width:20px;
  height:20px;
}
#u10710 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u10711 {
  position:absolute;
  left:734px;
  top:344px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u10712 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u10713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10713 {
  position:absolute;
  left:734px;
  top:390px;
  width:38px;
  height:20px;
}
#u10714 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10715 {
  position:absolute;
  left:734px;
  top:390px;
  width:20px;
  height:20px;
}
#u10716 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u10717 {
  position:absolute;
  left:854px;
  top:344px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u10718 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u10719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10719 {
  position:absolute;
  left:854px;
  top:390px;
  width:38px;
  height:20px;
}
#u10720 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10721 {
  position:absolute;
  left:872px;
  top:390px;
  width:20px;
  height:20px;
}
#u10722 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u10723 {
  position:absolute;
  left:764px;
  top:401px;
  width:14px;
  height:22px;
}
#u10724 {
  position:absolute;
  left:2px;
  top:3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u10725 {
  position:absolute;
  left:970px;
  top:344px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u10726 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10727 {
  position:absolute;
  left:130px;
  top:392px;
  width:330px;
  height:77px;
}
#u10728 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u10729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:234px;
}
#u10729 {
  position:absolute;
  left:110px;
  top:110px;
  width:367px;
  height:234px;
}
#u10730 {
  position:absolute;
  left:2px;
  top:109px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u10731 {
  position:absolute;
  left:110px;
  top:156px;
  width:367px;
  height:1px;
}
#u10732 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u10733 {
  position:absolute;
  left:130px;
  top:121px;
  width:97px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u10734 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u10735 {
  position:absolute;
  left:130px;
  top:167px;
  width:338px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u10736 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u10737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u10737 {
  position:absolute;
  left:130px;
  top:305px;
  width:78px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10738 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u10739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10739 {
  position:absolute;
  left:130px;
  top:241px;
  width:330px;
  height:18px;
  color:#999999;
}
#u10740 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u10741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u10741 {
  position:absolute;
  left:130px;
  top:211px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u10742 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3205px;
}
#u10743 {
  position:absolute;
  left:531px;
  top:10px;
  width:1px;
  height:3204px;
}
#u10744 {
  position:absolute;
  left:2px;
  top:1594px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
