body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9649 {
  position:absolute;
  left:605px;
  top:100px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9650 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9651 {
  position:absolute;
  left:619px;
  top:370px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9652 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9653 {
  position:absolute;
  left:797px;
  top:370px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9654 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9655 {
  position:absolute;
  left:966px;
  top:370px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9656 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9657 {
  position:absolute;
  left:1125px;
  top:370px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9658 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9659 {
  position:absolute;
  left:1287px;
  top:370px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9660 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9661 {
  position:absolute;
  left:605px;
  top:734px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9662 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9663 {
  position:absolute;
  left:619px;
  top:1019px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9664 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9665 {
  position:absolute;
  left:797px;
  top:1019px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9666 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9667 {
  position:absolute;
  left:966px;
  top:1019px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9668 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u9669 {
  position:absolute;
  left:1125px;
  top:1019px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
#u9670 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9671 {
  position:absolute;
  left:619px;
  top:192px;
  width:100px;
  height:16px;
}
#u9672 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9671_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9673 {
  position:absolute;
  left:729px;
  top:190px;
  width:100px;
  height:16px;
}
#u9674 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9673_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9675 {
  position:absolute;
  left:839px;
  top:190px;
  width:100px;
  height:16px;
}
#u9676 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9675_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9677 {
  position:absolute;
  left:619px;
  top:422px;
  width:100px;
  height:16px;
}
#u9678 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9677_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9679 {
  position:absolute;
  left:797px;
  top:422px;
  width:100px;
  height:16px;
  color:#000000;
}
#u9680 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9679_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9681 {
  position:absolute;
  left:966px;
  top:422px;
  width:100px;
  height:16px;
}
#u9682 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9681_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9683 {
  position:absolute;
  left:1125px;
  top:422px;
  width:100px;
  height:16px;
  color:#999999;
}
#u9684 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9683_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9685 {
  position:absolute;
  left:1287px;
  top:422px;
  width:100px;
  height:16px;
  color:#CCCCCC;
}
#u9686 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9685_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9687 {
  position:absolute;
  left:619px;
  top:812px;
  width:100px;
  height:16px;
}
#u9688 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9687_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9689 {
  position:absolute;
  left:729px;
  top:812px;
  width:100px;
  height:16px;
}
#u9690 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9691 {
  position:absolute;
  left:839px;
  top:812px;
  width:100px;
  height:16px;
}
#u9692 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9691_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9693 {
  position:absolute;
  left:619px;
  top:1068px;
  width:100px;
  height:16px;
}
#u9694 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9693_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9695 {
  position:absolute;
  left:797px;
  top:1068px;
  width:100px;
  height:16px;
  color:#000000;
}
#u9696 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9695_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9697 {
  position:absolute;
  left:966px;
  top:1068px;
  width:100px;
  height:16px;
}
#u9698 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9697_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u9699 {
  position:absolute;
  left:100px;
  top:380px;
  width:367px;
  height:56px;
  line-height:20px;
}
#u9700 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:234px;
}
#u9701 {
  position:absolute;
  left:100px;
  top:100px;
  width:367px;
  height:234px;
}
#u9702 {
  position:absolute;
  left:2px;
  top:109px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u9703 {
  position:absolute;
  left:100px;
  top:146px;
  width:367px;
  height:1px;
}
#u9704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9705 {
  position:absolute;
  left:120px;
  top:111px;
  width:167px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9706 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u9707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u9707 {
  position:absolute;
  left:120px;
  top:157px;
  width:338px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u9708 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u9709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u9709 {
  position:absolute;
  left:120px;
  top:295px;
  width:99px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9710 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u9711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u9711 {
  position:absolute;
  left:120px;
  top:231px;
  width:330px;
  height:40px;
  font-size:14px;
  color:#999999;
}
#u9712 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u9713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u9713 {
  position:absolute;
  left:120px;
  top:201px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u9714 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4398px;
}
#u9715 {
  position:absolute;
  left:535px;
  top:0px;
  width:1px;
  height:4397px;
}
#u9716 {
  position:absolute;
  left:2px;
  top:2190px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9717 {
  position:absolute;
  left:605px;
  top:301px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9718 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:234px;
}
#u9719 {
  position:absolute;
  left:100px;
  top:734px;
  width:367px;
  height:234px;
}
#u9720 {
  position:absolute;
  left:2px;
  top:109px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u9721 {
  position:absolute;
  left:100px;
  top:780px;
  width:367px;
  height:1px;
}
#u9722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9723 {
  position:absolute;
  left:120px;
  top:745px;
  width:149px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u9724 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u9725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u9725 {
  position:absolute;
  left:120px;
  top:791px;
  width:338px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:20px;
}
#u9726 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u9727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u9727 {
  position:absolute;
  left:120px;
  top:929px;
  width:99px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9728 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u9729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u9729 {
  position:absolute;
  left:120px;
  top:865px;
  width:330px;
  height:40px;
  font-size:14px;
  color:#999999;
}
#u9730 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u9731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u9731 {
  position:absolute;
  left:120px;
  top:835px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u9732 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9733 {
  position:absolute;
  left:605px;
  top:935px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9734 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9735 {
  position:absolute;
  left:1287px;
  top:1019px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9736 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u9737 {
  position:absolute;
  left:1449px;
  top:1019px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u9738 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9739 {
  position:absolute;
  left:1287px;
  top:1068px;
  width:100px;
  height:16px;
  color:#999999;
}
#u9740 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9739_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9741 {
  position:absolute;
  left:1449px;
  top:1068px;
  width:100px;
  height:16px;
  color:#CCCCCC;
}
#u9742 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9741_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9743 {
  position:absolute;
  left:1125px;
  top:1068px;
  width:100px;
  height:16px;
}
#u9744 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9743_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:2px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9745 {
  position:absolute;
  left:1129px;
  top:1074px;
  width:6px;
  height:2px;
}
#u9746 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
